services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    user: "0:0"
    network_mode: host
    command:
      - --config.file=/etc/prometheus/prometheus.yml
      - --storage.tsdb.path=/prometheus
      - --storage.tsdb.retention.time={{ prometheus_retention_time }}
      - --web.enable-lifecycle
      - --web.enable-remote-write-receiver
    volumes:
      - {{ prometheus_root }}/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - {{ prometheus_root }}/alerting-rules.yml:/etc/prometheus/alerting-rules.yml:ro
      - {{ prometheus_root }}/data:/prometheus
    restart: unless-stopped
    depends_on:
      - alertmanager

  alertmanager:
    image: prom/alertmanager:latest
    container_name: alertmanager
    user: "0:0"
    network_mode: host
    command:
      - --config.file=/etc/alertmanager/alertmanager.yml
      - --storage.path=/alertmanager
      - --cluster.listen-address=
    volumes:
      - {{ alertmanager_root }}/alertmanager.yml:/etc/alertmanager/alertmanager.yml:ro
      - {{ alertmanager_root }}/data:/alertmanager
    restart: unless-stopped
