[defaults]
inventory = ./inventory.ini
remote_user = azureuser
host_key_checking = False
interpreter_python = auto_silent
retry_files_enabled = False
timeout = 30
forks = 5
gathering = smart
local_tmp = /tmp/.ansible/tmp
remote_tmp = /tmp

[ssh_connection]
pipelining = True
control_path_dir = /tmp/.ansible/cp
retries = 3
ssh_args = -F /dev/null -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o ConnectTimeout=15
transfer_method = piped
